input[type="textarea"]
 {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
  }

  .Modal{
      margin-top: 10px;
  }